.checkbox-holder {
  /*margin: 5px;*/
  margin-right: 30px;
  margin-left: 20px;
}

.collection-header {
  padding: 0 !important;
}

.img-checkbox {
  display: none;
}

.img-checkbox + label {
  background: #999;
  /*display:inline-block;*/
  padding: 0 0 0 0px;
}

.img-checkbox:checked + label {
  background: #0080FF;
  /*display:inline-block;*/
  padding: 0 0 0 0px;
}

.range-label {
  font-size: 1.3rem;
}

/*
 Step 3 styles
*/
.car-img-container {
  position: relative;
}

.car-img-border {
  border: 2px dotted black;
  border-radius: 5px;
  margin: 4px;
}

.car-img-container img {
  /*position absolute;*/
  /*left: 0;
  top: 0;*/
}

.car-img-container p {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  right: 10px;
  top: 0;
}
