#loading-bar .bar {
  background: black;
  height: 3px;
}

.checkbox-holder {
  /*margin: 5px;*/
  margin-right: 30px;
  margin-left: 20px;
}

.collection-header {
  padding: 0 !important;
}

.img-checkbox {
  display: none;
}

.img-checkbox + label {
  background: #999;
  /*display:inline-block;*/
  padding: 0 0 0 0px;
}

.img-checkbox:checked + label {
  background: #0080FF;
  /*display:inline-block;*/
  padding: 0 0 0 0px;
}

.range-label {
  font-size: 1.3rem;
}

/*
 Step 3 styles
*/
.car-img-container {
  position: relative;
}

.car-img-border {
  border: 2px dotted black;
  border-radius: 5px;
  margin: 4px;
}

.car-img-container img {
  /*position absolute;*/
  /*left: 0;
  top: 0;*/
}

.car-img-container p {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 8px;
  top: -20px;
}

h3.flow-text.section {
  margin-left: -13px;
  margin-right: -13px;
}

.car-img-border:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.47);
}



.car-img-border {
  border: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.47);
  border-radius: 0px;
  padding: 0px !important;
  text-align: center;
  padding-bottom: 5px !important;
  transition: 0.5s;
}

section h5 a:hover {
  background: #51c5ba;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.32);
}

section h5 a {
  background: #28a79b;
  padding: 10px;
  color: white;
  border-radius: 3px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  transition: 0.5s;
  cursor: pointer;
}

.flow-text {
  margin: 0px;
  margin-bottom: 10px;
}

body {
  background: #f3f3f3;
}

nav a.btn.blue.right {
  position: fixed;
  bottom: 20px;
  right: 10px;
  font-size: 20px;
  height: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

form#offer-form .input-field {
  background: white;
  /* padding-top: 50px; */
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

#tipo-auto, #version-auto, #marca-auto, #precio-auto {
  padding-top: 10px;
  background: white;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
}

section h5 a {
  background: #28a79b;
  padding: 10px;
  color: white;
  border-radius: 3px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  transition: 0.5s;
  cursor: pointer;
  margin-left: -10px;
  margin-top: 30px;
  display: block;
  margin-right: -10px;
}

#offer-form button {
    background: #2196f3;
    color: white;
}

#offer-form .flow-text {
    font-weight: 700;
    background: #e8e8e8;
    padding: 5px;
}

.side-image {
  box-shadow: 0px 0px 10px 0px #888888;
  border-radius: 2px;
}

.user-data {
  margin-top: 15px;
}

#side-cars {
  padding: 0 10px;
  /*margin: 0 20px;*/
}

#cantidad-autos {
  margin-top: 5px;
}

.password-info {
  border-right: 5px solid #c5cae9;
  border-left: 5px solid #c5cae9;
  /*margin: 20px 0;*/
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.login-header {
  /*text-shadow: 2px 2px #303f9f;*/
}

.left-option {
  border: 3px solid #4278c3;
  color: #4278c3 !important;
  transition: all 0.3s ease-in-out;
}

.left-option:hover {
  background-color: #4278c3;
  color: white !important;
}

.right-option {
  border: 3px solid #3c8724;
  color: #3c8724 !important;
}

.right-option:hover {
  background-color: #3c8724;
  color: white !important;
}
