<section>
  <div
    class="scroller-container grid-stack"
    infinite-scroll="vm.pagingFunction()"
    infinite-scroll-distance="0.1"
  >
    <section
      class="item z-depth-1 hoverable grid-stack-item"
      ng-repeat="item in vm.items"
      data-gs-x="{{ item.grid.x }}" data-gs-y="{{ item.grid.y }}"
      data-gs-width="{{ vm.gridWidth }}" data-gs-height="{{ vm.gridHeight }}"
    >
      <div class="grid-stack-item-content">
        {{ item.id }}
      </div>
    </section>
  </div>
</section>
