<div class="row">
  <div class="col m6 s12">
  <section class="row" id="version-auto">
    <p class="flow-text">Version del auto:</p>
    <div ng-show="vm.loadingVersions" class="progress">
      <div class="indeterminate"></div>
    </div>

    <forms class="row" id="version-auto-form">
      <!-- <i class="material-icons">label</i> This is text -->
      <span class="col m3 s4 checkbox-holder" ng-repeat="version in vm.versions">
        <input
          type="checkbox"
          ng-checked="vm.filter.versions.indexOf(version.id_modelo) > -1"
          ng-click="vm.toggleSelection(version.id_modelo, vm.filter.versions)"
          id="{{ version.nombre | lowercase }}"
        />
        <label for="{{ version.nombre | lowercase }}">{{ version.nombre | capitalize }}</label>
      </span>
    </form>
  </section>

  <section ng-show="vm.filter.versions.length >= 1" class="row" id="precio-auto">
    <p class="flow-text">Posibilidades economicas:</p>
    <div ng-show="vm.loadingPrices" class="progress">
      <div class="indeterminate"></div>
    </div>

    <forms class="row" id="precio-auto-form">
      <section class="col m6">
        <p class="range-field">
          <label class="range-label" for="cuotamensual">Cuota mensual maxima</label>
          <input ng-model="vm.filter.maxRate" type="range" id="cuotamensual" min="0" max="2000" />
        </p>
      </section>
      <section class="col m6">
        <p class="range-field">
          <label class="range-label" for="valormaximo">Valor maximo</label>
          <input ng-model="vm.filter.maxValue" type="range" id="valormaximo" min="0" max="120000" />
        </p>
      </section>
    </form>
  </section>

  <section
    ng-show="vm.filter.versions.length >= 1 && vm.filter.maxRate > 1 && vm.filter.maxValue > 1"
  >
    <h5>
      <a ng-click="vm.nextPage()">Elegir versiones y presupuestos ></a>
    </h5>
  </section>
  </div>

  <aside class="col m5 offset-m1">
    <img class="responsive-img" src="http://placehold.it/1920x1080" alt="placeholder">
  </aside>
</div>
