<div class="divider"></div>

<div class="row section">

  <div class="col m6 s12">

    <section class="row section" id="tipo-auto">
      <p class="flow-text">El tipo de auto que te gustaria tener:</p>
      <div ng-show="vm.loadingTypes" class="progress">
        <div class="indeterminate"></div>
      </div>

      <forms class="row" id="tipo-auto-form">
        <!-- <i class="material-icons">label</i> This is text -->
        <span class="col m3 s4 checkbox-holder" ng-repeat="type in vm.types">
          <input
            type="checkbox"
            ng-checked="vm.filter.types.indexOf(type.id_tipo) > -1"
            ng-click="vm.toggleSelection(type.id_tipo, vm.filter.types)"
            id="{{ type.nombre_tipo | lowercase }}"/>
          <label for="{{ type.nombre_tipo | lowercase }}">{{ type.nombre_tipo | capitalize }}</label>
        </span>
      </form>
    </section>

    <div class="divider"></div>

    <section ng-show="vm.filter.types.length >= 1" class="row section" id="marca-auto">
      <p class="flow-text">Marcas de preferencia:</p>

      <div ng-show="vm.loadingBrands" class="progress">
        <div class="indeterminate"></div>
      </div>

      <section ng-show="!vm.loadingBrands">
        <forms class="row" id="marca-auto-form">
          <!-- <i class="material-icons">label</i> This is text -->
          <span class="col m3 s12 car-img-container car-img-border" ng-repeat="brand in vm.brands">
            <img
              class="responsive-img"
              src="{{brand.img_url_marca || 'http://placehold.it/800x800'}}"
              alt="car image"
              ng-click="vm.toggleSelection(brand.id_marca, vm.filter.brands)"
            />
            <p>
              <input
                type="checkbox"
                id="{{ brand.nombre_marca | lowercase }}"
                ng-checked="vm.filter.brands.indexOf(brand.id_marca) > -1"
                ng-click="vm.toggleSelection(brand.id_marca, vm.filter.brands)"
              />
              <label for="{{ brand.nombre_marca | lowercase }}"></label>
            </p>
            <span>{{ brand.nombre_marca }} {{brand.id_marca}}</span>
          </span>
        </form>
      </section>
    </section>

    <section ng-show="vm.filter.brands.length >= 1">
      <h5>
        <a ng-click="vm.nextPage()">Elegir versiones y presupuestos ></a>
      </h5>
    </section>

  </div>

  <aside class="col m5 offset-m1 s12">
    <!-- <img class="responsive-img side-image" src="http://placehold.it/1920x1080" alt="placeholder"> -->
    <section class="row section z-depth-1" id="side-cars">
      <h1 class="flow-text center-align" id="cantidad-autos">Autos Totales: {{vm.sideCars.length}}</h1>
      <div class="divider"></div>
      <div class="card col m6 s12 hoverable" ng-repeat="car in vm.sideCars">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator responsive-img" src="{{car.img_auto || 'http://placehold.it/1920x1080'}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{car.nombre_version}}<i class="material-icons right">more_vert</i></span>
          <p>{{car.nombre_marca}}</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </section>
  </aside>

</div>
